.navbar {
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
}

blockquote {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 32;
    padding-left: 16px;
    border-left: 3px solid #ccc;
    color: black;
    font-size: 1rem;
} 

.card-shadow {
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
}